# PS2_Q3 Extracted

In [1]:
# 79: ------------------------------------------------------------------------
import time
import numpy as np
import pandas as pd

# Question 3 - NHANES

### (a) Import the data

In [2]:
# Read the dataframe
nhanes1112_original = pd.read_sas('DEMO_G.XPT')
nhanes1314_original = pd.read_sas('DEMO_H.XPT')
nhanes1516_original = pd.read_sas('DEMO_I.XPT')
nhanes1718_original = pd.read_sas('DEMO_J.XPT')

# Choose the columns
col_name_new = ['SEQN', 'RIDAGEYR', 'RIDRETH3', 'DMDEDUC2', 
                'DMDMARTL','RIDSTATR', 'SDMVPSU', 'SDMVSTRA', 
                'WTMEC2YR', 'WTINT2YR']

nh1112 = nhanes1112_original[col_name_new]
nh1314 = nhanes1314_original[col_name_new]
nh1516 = nhanes1516_original[col_name_new]
nh1718 = nhanes1718_original[col_name_new]

In [3]:
nhanes1112_original['RIAGENDR']

0       1.0
1       2.0
2       1.0
3       2.0
4       2.0
       ...
9751    1.0
9752    2.0
9753    2.0
9754    1.0
9755    1.0
Name: RIAGENDR, Length: 9756, dtype: float64

In [4]:
# insert cohort column
cohort_1112 = [1112] * len(nh1112)
cohort_1314 = [1314] * len(nh1314)
cohort_1516 = [1516] * len(nh1516)
cohort_1718 = [1718] * len(nh1718)
nh1112.insert(10, 'cohort', cohort_1112)
nh1314.insert(10, 'cohort', cohort_1314)
nh1516.insert(10, 'cohort', cohort_1516)
nh1718.insert(10, 'cohort', cohort_1718)

In [5]:
# Merge the dataframe
nh = pd.concat([nh1112, nh1314, nh1516, nh1718])

In [6]:
# Rename the columns
nh.columns = ['ids', 'age', 'race_ethnicity', 'education', 
              'material_status', 'weight1', 'weight2', 
              'weight3', 'weight4', 'weight5', 'cohort']

In [7]:
# Replace the NaN values
nh = nh.replace(np.nan, -1)

In [8]:
# Change to the appropriate type
nh = nh.astype({'ids': 'int32', 'age': 'int32', 
                'race_ethnicity': 'int32', 
                'education': 'int32', 'material_status': 'int32', 
                'weight1': 'int32', 'weight2': 'int32', 
                'weight3': 'int32'})

In [9]:
nh.head()

,ids,age,race_ethnicity,education,material_status,weight1,weight2,weight3,weight4,weight5,cohort
0,62161,22,3,3,5,2,1,91,104236.582554,102641.406474,1112
1,62162,3,1,-1,-1,2,3,92,16116.354010,15457.736897,1112
2,62163,14,6,-1,-1,2,3,90,7869.485117,7397.684828,1112
3,62164,44,3,4,1,2,1,94,127965.226204,127351.373299,1112
4,62165,14,4,-1,-1,2,2,90,13384.042162,12209.744980,1112

In [10]:
# Save the result
nh.to_pickle("./DEMO_GHIJ.pkl")

### (b) Import the data - oral health and dentition data

In [11]:
# Read the data set
ohxden1112_original = pd.read_sas('OHXDEN_G.XPT')
ohxden1314_original = pd.read_sas('OHXDEN_H.XPT')
ohxden1516_original = pd.read_sas('OHXDEN_I.XPT')
ohxden1718_original = pd.read_sas('OHXDEN_J.XPT')

In [12]:
# Choose the columns
col_name = ['SEQN', 'OHDDESTS']
OHXxxTC = str()
OHXxxCTC = str()

for i in range(33):
    if  0 < i and i < 10:
        OHXxxTC = 'OHX0' + str(i) + 'TC'
        col_name.append(OHXxxTC)
    elif 0 < i:
        OHXxxTC = 'OHX' + str(i) + 'TC'    
        col_name.append(OHXxxTC)
    
for j in range(32):
    if 1 < j and j < 10:
        OHXxxCTC = 'OHX0' + str(j) + 'CTC'
        col_name.append(OHXxxCTC)
    elif 1 < j and j < 32 and j != 16 and j != 17:
        OHXxxCTC = 'OHX' + str(j) + 'CTC'
        col_name.append(OHXxxCTC)

In [13]:
# Rename the columns
col_name_new = ['ids', 'ohddests']
for i in range(33):
    if  0 < i and i < 10:
        OHXxxTC = 'tooth_count_0' + str(i)
        col_name_new.append(OHXxxTC)
    elif 0 < i:
        OHXxxTC = 'tooth_count_' + str(i)    
        col_name_new.append(OHXxxTC)
    
for j in range(32):
    if 1 < j and j < 10:
        OHXxxCTC = 'coronal_cavities_0' + str(j)
        col_name_new.append(OHXxxCTC)
    elif 1 < j and j < 32 and j != 16 and j != 17:
        OHXxxCTC = 'coronal_cavities_' + str(j)
        col_name_new.append(OHXxxCTC)

col_name_new.append('cohort')

xd.columns = col_name_new

NameError: name 'xd' is not defined

In [ ]:
# Replace the NaN values
xd.fillna(-1, inplace=True)

In [ ]:
# Change the data into the appropriate type
# Did not changed the b'S' and b'D' since I don't know what that means

for i in range(len(col_name_new)):
    if isinstance(xd.iloc[0,i], float):
        xd = xd.astype({col_name_new[i]: 'int32'})

In [ ]:
xd.head()

In [ ]:
# Save the result
xd.to_pickle("./OHXDEN_GHIJ.pkl")

### (c) number of cases in two data sets

In [ ]:
print(len(nh))
print(len(nh.columns))

In [ ]:
print(len(xd))
print(len(xd.columns))

DataFrame from 3. (a) has 39156 rows (cases) with 11 columns

DataFrame from 3. (b) has 35909 rows (cases) with 63 columns